.cage {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.layer {
    display: flex;
    flex-direction: row;
    gap: 60px;
    align-items: center;
    margin-top: -40px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 60px);
    gap: 6px;
    transform: rotateX(60deg) rotateZ(45deg);
    transform-style: flat;
}

.slot {
    background-color: var(--slot-color, #444);
    width: 60px;
    height: 60px;
    border-radius: 4px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

.slot.center-slot {
    opacity: 0.5;
}

.winning-line {
    outline: 6px solid yellow;
    outline-offset: -6px;
}
